<a href="https://colab.research.google.com/github/AntonySharon/Business-analytics-with-python/blob/main/HRA%20Revision%20(13-1-2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input("Enter your mark : "))
if x>50:
  print("You have passed")
if x<50:
  print("You have failed")
if x==50:
  print("You have just passed")

Enter your mark : 70
You have passed

In [ ]:
x=int(input("Enter your salary : "))
if x>=250000:
  print("You are taxable")
if x<250000:
  print("You are not taxable")

Enter your salary : 250001
You are taxable

In [ ]:
'''
If amount <= Rs. 2,50,000 then zero tax.
If amount <= Rs. 5,00,000 then 5%  
If amount <= Rs. 7,50,000 then  10% of total income exceeding Rs. 5,00,000
If amount <= Rs. 10,00,000 then  15% of total income exceeding Rs. 7,50,000
If amount <= Rs. 12,50,000 then  20% of total income exceeding Rs. 10,00,000
If amount <= Rs. 15,00,000 then 25% of total income exceeding Rs. 12,50,000
If amount > Rs. 15,00,000 then 30% of total income exceeding Rs. 15,00,000
'''

In [1]:
s=int(input("Enter your salary: "))
if s<250000:
  print("You are not taxable")
if s>250000 and s<=500000:
  a=s-250000
  tax=(a*5)/100
  print("You are taxable")
  print("Tax payable",tax)
if s>500000 and s<=750000:
  a=s-500000
  t=(a*10)/100
  t1=t+12500  
  print("You are taxable")
  print("Tax payable",t1)
if s>750000 and s<=1000000:
  a=s-750000
  t=(a*15)/100
  t1=t+12500+25000
  print("You are taxable")
  print("Tax payable",t1)
if s>1000000 and s<=1250000:
  a=s-1000000
  t=(a*20)/100
  t1=t+12500+25000+37500
  print("You are taxable")
  print("Tax payable",t1)
if s>1250000 and s<=1500000:
  a=s-1250000
  t=(a*25)/100
  t1=t+12500+25000+37500+50000
  print("You are taxable")
  print("Tax payable",t1)
if s>1500000:
  a=s-1500000
  t=(a*30)/100
  t1=t+12500+25000+37500+50000+62500
  print("You are taxable")
  print("Tax payable",t1)

Enter your salary: 1300000
You are taxable
Tax payable 137500.0

In [21]:
x=int(input("Enter Actual HRA (per month) :"))
y=int(input("Enter HRA paid (per month) :"))
z=int(input("Enter basic salary (per month) :"))
a=x*12
b=(y*12)-((z*12)*(10/100))
c=(50/100)*(z*12)
if  a<=b and a<=c:
  t1=a*(10/100)
  print("Tax payable is: ",t1)
elif  b<=a and b<=c:
  t1=b*(10/100)
  print("Tax payable is: ",t1)
elif  c<=a and c<=b:
  t1=c*(10/100)
  print("Tax payable is: ",t1)
else:
  print("Not Applicable")

Enter Actual HRA (per month) :1000
Enter HRA paid (per month) :800
Enter basic salary (per month) :1500
Tax payable is:  780.0

In [22]:
x=int(input("Enter Actual HRA (per month) :"))
y=int(input("Enter HRA paid (per month) :"))
z=int(input("Enter basic salary (per month) :"))
a1=x*12
b1=(y*12)-((z*12)*(10/100))
c1=(50/100)*(z*12)
if  a1<=b1 and a1<=c1:
  l1=a1
  tax=a1*(10/100)
  print("Tax payable is: ",tax)
elif  b1<=a1 and b1<=c1:
  l1=b1
  tax=b1*(10/100)
  print("Tax payable is: ",tax)
elif  c1<=a1 and c1<=b1:
  l1=c1
  tax=c1*(10/100)
  print("Tax payable is: ",tax)
#else:
  #print("Not Applicable")
if l1>=150000:
  l1=150000

s=a1+c1-l1
if s<250000:
  print("You are not taxable")
if s>250000 and s<=500000:
  a=s-250000
  tax=(a*5)/100
  print("You are taxable")
  print("Tax payable",tax)
if s>500000 and s<=750000:
  a=s-500000
  t=(a*10)/100
  t1=t+12500  
  print("You are taxable")
  print("Tax payable",t1)
if s>750000 and s<=1000000:
  a=s-750000
  t=(a*15)/100
  t1=t+12500+25000
  print("You are taxable")
  print("Tax payable",t1)
if s>1000000 and s<=1250000:
  a=s-1000000
  t=(a*20)/100
  t1=t+12500+25000+37500
  print("You are taxable")
  print("Tax payable",t1)
if s>1250000 and s<=1500000:
  a=s-1250000
  t=(a*25)/100
  t1=t+12500+25000+37500+50000
  print("You are taxable")
  print("Tax payable",t1)
if s>1500000:
  a=s-1500000
  t=(a*30)/100
  t1=t+12500+25000+37500+50000+62500
  print("You are taxable")
  print("Tax payable",t1)

Enter Actual HRA (per month) :1000000
Enter HRA paid (per month) :800000
Enter basic salary (per month) :1500000
Tax payable is:  780000.0
You are taxable
Tax payable 5992500.0