<a href="https://colab.research.google.com/github/AntonySharon/Business-analytics-with-python/blob/main/python_revision(20_01_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [16]:
x=9
while x>=0:
  print(x)
  x=x-1

9
8
7
6
5
4
3
2
1
0

In [32]:
x=0
a=0
while x<10:
  x=x+1
  a=a+x
print("Sum of first 10 numbers: ",a)

Sum of first 10 numbers:  55

In [33]:
x=0
a=1
while x<10:
  x=x+1
  a=a*x
print("Factorial of 10 : ",a)

Factorial of 10 :  3628800

In [48]:
x=0
while x<10:
  x+=1
  if x==5:
    break
  print(x)

1
2
3
4

In [47]:
x=0
while x<10:
  x+=1
  if x==5:
    continue
  print(x)

1
2
3
4
6
7
8
9
10

In [64]:
a=0
for x in range(101):
  a=a+x
print("Sum is : ",a)

Sum is :  5050

In [87]:
n=int(input("Enter the Number: "))
a=1
for i in range(1,n+1):
  a=a*i
print("Factorial of ",n," is : ",a)

Enter the Number: 5
Factorial of  5  is :  120

In [80]:
for x in range(100):
  if x==5:
    break
  print(x)

0
1
2
3
4

In [89]:
for x in range(100):
  if x==5:
    continue
  print(x)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [88]:
x="Antony Sharon"
for a in x:
  print(a)

A
n
t
o
n
y

S
h
a
r
o
n

In [94]:
x="Antony Sharon"
for a in x:
  print(a,end="")
  if a==" ":
    break

Antony

In [103]:
x="Kevin Benoy"
n=''
for a in x:
  if a!="i":
    n=n+a
print(n)

Kevn Benoy

In [100]:
x="Kevin Benoy"
for i in x:
  if i=="i":
    continue
  print(i,end="")

Kevn Benoy