<a href="https://colab.research.google.com/github/AntonySharon/Business-analytics-with-python/blob/main/python_revision_(12_1_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input("Enter your mark : "))
if x>50:
  print("You have passed")
if x<50:
  print("You have failed")
if x==50:
  print("You have just passed")

Enter your mark : 70
You have passed

In [ ]:
x=int(input("Enter your salary : "))
if x>=250000:
  print("You are taxable")
if x<250000:
  print("You are not taxable")

Enter your salary : 250001
You are taxable

In [ ]:
'''
If amount <= Rs. 2,50,000 then zero tax.
If amount <= Rs. 5,00,000 then 5%  
If amount <= Rs. 7,50,000 then  10% of total income exceeding Rs. 5,00,000
If amount <= Rs. 10,00,000 then  15% of total income exceeding Rs. 7,50,000
If amount <= Rs. 12,50,000 then  20% of total income exceeding Rs. 10,00,000
If amount <= Rs. 15,00,000 then 25% of total income exceeding Rs. 12,50,000
If amount > Rs. 15,00,000 then 30% of total income exceeding Rs. 15,00,000
'''

In [23]:
s=int(input("Enter your salary: "))
if s<250000:
  print("You are not taxable")
if s>250000 and s<=500000:
  a=s-250000
  tax=(a*5)/100
  print("You are taxable")
  print("Tax payable",tax)
if s>500000 and s<=750000:
  a=s-500000
  t=(a*10)/100
  t1=t+12500  
  print("You are taxable")
  print("Tax payable",t1)
if s>750000 and s<=1000000:
  a=s-750000
  t=(a*15)/100
  t1=t+12500+25000
  print("You are taxable")
  print("Tax payable",t1)
if s>1000000 and s<=1250000:
  a=s-1000000
  t=(a*20)/100
  t1=t+12500+25000+37500
  print("You are taxable")
  print("Tax payable",t1)
if s>1250000 and s<=1500000:
  a=s-1250000
  t=(a*25)/100
  t1=t+12500+25000+37500+50000
  print("You are taxable")
  print("Tax payable",t1)
if s>1500000:
  a=s-1500000
  t=(a*30)/100
  t1=t+12500+25000+37500+50000+62500
  print("You are taxable")
  print("Tax payable",t1)

Enter your salary: 1700000
You are taxable
Tax payable 247500.0