In [4]:
x=int(input("enter 1st number:"))
y=int(input("enter 2nd number:"))
print(x+y)
print(x-y)
print(x/y)
print(x*y)

enter 1st number:8
enter 2nd number:2
10
6
4.0
16

In [8]:
p=int(input("enter principal amount :"))
n=int(input("enter no. of yrs :"))
r=int(input("enter rate :"))
r=r/100
i=p*n*r
print("interest :",i)

enter principal amount :10000
enter no. of yrs :5
enter rate :8
interest : 4000.0

In [14]:
x=int(input("enter your marks :"))
if x>50:
  print('you are passed')
if x<50:
  print('you are failed')

enter your marks :1000
you are passed

In [18]:
s=int(input("enter salary: "))
if s>250000:
  print("you r taxable")
  print("tax amount payable :",s*(10/100))
else:
  print("not taxable")

enter salary: 250001
you r taxable
tax amount payable : 25000.100000000002

In [29]:
s=int(input("enter salary: "))
x=s
if s>=300000:
  print("you r taxable")
  print("tax amount payable :",(x-250000)*(10/100))
else:
  print("not taxable")

enter salary: 300000
you r taxable
tax amount payable : 5000.0

In [28]:
s=int(input("enter salary: "))
x=s
if s>=300000 and s<500000:
  print("you r taxable")
  print("tax amount payable :",(x-250000)*(10/100))
elif  s>500000:
  print("you r taxable")
  print("tax amount payable :",(x-250000)*(20/100))
else:
  print("not taxable")

enter salary: 600000
you r taxable
tax amount payable : 70000.0