<a href="https://colab.research.google.com/github/AntonySharon/Business-analytics-with-python/blob/main/python_revision(2_02_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def anto():
  print("India is my country")

In [2]:
anto()

India is my country

In [3]:
def anto(x):
  print("Your roll no. is: ",x)

In [4]:
x=int(input("Enter your roll no."))
anto(x)

Enter your roll no.10
Your roll no. is:  10

In [5]:
def anto(a,b,c,d):
  print("Your Name is: ",a)
  print("Your roll no. is: ",b)
  print("Your email is: ",c)
  print("Your place is: ",d)

In [6]:
n=input("Enter your name: ")
x=int(input("Enter your roll no.: "))
y=input("Enter your email: ")
z=input("Enter your place: ")
anto(n,x,y,z)

Enter your name: Antony Sharon
Enter your roll no.: 10
Enter your email: 123@gmail.com
Enter your place: Kochi
Your Name is:  Antony Sharon
Your roll no. is:  10
Your email is:  123@gmail.com
Your place is:  Kochi

In [59]:
def name(a):
  print("Your first name is: ",a)
def name1(b):
  print("Your second name is: ",b)

In [71]:
a=input("Enter your name: ")
s=a.split()
b=list(s)
n=len(s)
t=[]
u=[]
for i in s:
  t+=s[0]
  u+=s[1]
'''for i in range(n):
  t+=str(s[n-2])
  u+=str(s[n-1])'''
  
name(t)
name1(u)

Enter your name: antony sharon
Your first name is:  ['a', 'n', 't', 'o', 'n', 'y', 'a', 'n', 't', 'o', 'n', 'y']
Your second name is:  ['s', 'h', 'a', 'r', 'o', 'n', 's', 'h', 'a', 'r', 'o', 'n']

In [74]:
s
type(s)

list

In [73]:
s[0]

'antony'

In [58]:
def name(x):
  print("Your first name is: ",x[0])
def name1(x):
  print("Your second name is: ",x[1])

In [53]:
a=input("Enter your name: ")
s=a.split(" ")
name(s)
name1(s)

Enter your name: antony sharon
Your first name is:  antony
Your second name is:  sharon

In [76]:
def swap(a,b):
  a,b=b,a
  print("swap no. is: ",a)
  print("swap no. is: ",b)

In [77]:
n1=int(input("Enter one no.: "))
n2=int(input("Enter another no.: "))
swap(n1,n2)

Enter one no.: 10
Enter another no.: 20
swap no. is:  20
swap no. is:  10

In [75]:
def pos(a):
  x=0
  a1=()
  b1=()
  while x>0:
    
  print("number after changing position is: ",a)

In [ ]:
n1=int(input("Enter one no.: "))
pos(n1)