<a href="https://colab.research.google.com/github/AntonySharon/Business-analytics-with-python/blob/main/python_revision_(23_01_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x="Antony Sharon"
len(x)

13

In [4]:
x=["Antony","Jano","Kevin","Jithin"]
print(x)
type(x)

['Antony', 'Jano', 'Kevin', 'Jithin']

list

In [6]:
x=[9059,"Antony",19,"13-06-2003","Kochi"]
print(x)
type(x)

[9059, 'Antony', 19, '13-06-2003', 'Kochi']

list

In [7]:
print(x[0])

9059

In [8]:
print(x[-1])

Kochi

In [22]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[-3:])

[8, 9, 10]

In [25]:
a[-5:-3]

[6, 7]

In [26]:
x=[1,2,3,4,5,6,7,8,9,10]
x[0]=11

In [27]:
x

[11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
x=[9059,"Antony",19,"13-06-2003","Kochi"]
x[4]="Rajagiri"

In [32]:
x

[9059, 'Antony', 19, '13-06-2003', 'Rajagiri']

In [34]:
x=[1,2,3]
x.append(99)

In [35]:
x

[1, 2, 3, 99]

In [40]:
x=[]
for i in range(4):
  name=input("Enter your Name: ")
  x.append(name)
print(x)

Enter your Name: Antony
Enter your Name: Kevin
Enter your Name: Jano
Enter your Name: Joe
['Antony', 'Kevin', 'Jano', 'Joe']

In [43]:
s=input("Enter a name: ")
y=[]
y.append(s)
for i in range(3):
  s=input("Enter another name: ")
  y.append(s)
print(y)

Enter a name: Antony
Enter another name: Sharon
Enter another name: Kevin
Enter another name: Joe
['Antony', 'Sharon', 'Kevin', 'Joe']

In [44]:
s=input("Enter a name: ")
y=[]
y.append(s)
i=0
while i<3:
  s=input("Enter another name: ")
  y.append(s)
  i+=1
print(y)

Enter a name: Antony
Enter another name: Sharon
Enter another name: Alvin
Enter another name: Joe
['Antony', 'Sharon', 'Alvin', 'Joe']

In [47]:
s=input("Enter First name: ")
y=[]
y.append(s)
for i in range(3):
  if i==0:
    s=input("Enter Second name: ")
    y.append(s)
  elif i==1:
    s=input("Enter Third name: ")
    y.append(s)
  elif i==2:
    s=input("Enter Fourth  name: ")
    y.append(s)
print(y)

Enter First name: Antony
Enter Second name: Sharon
Enter Third name: Joe
Enter Fourth  name: Jano
['Antony', 'Sharon', 'Joe', 'Jano']

In [48]:
x=[1,2,3,4,5]
y=x.copy()
y

[1, 2, 3, 4, 5]

In [49]:
x=["John","Mary","David","Adam"]
y=["A","B","C"]
x.extend(y)

In [50]:
x

['John', 'Mary', 'David', 'Adam', 'A', 'B', 'C']

In [51]:
y

['A', 'B', 'C']

In [53]:
x=["abc",1,2,3,4,5,5,6,4,5,3]
x.count(5)

3

In [55]:
x=["John","Mary","David","Adam"]
x[1:3]=["Joe","Jano"]
print(x)

['John', 'Joe', 'Jano', 'Adam']

In [56]:
x=["John","Mary","David","Adam"]
x.insert(2,"James")
print(x)

['John', 'Mary', 'James', 'David', 'Adam']

In [60]:
x=['John', 'Mary', 'James', 'David', 'Adam']
x.remove("John")
print(x)

['Mary', 'James', 'David', 'Adam']

In [64]:
x=['John', 'Mary', 'James', 'David', 'Adam']
del x[0:2]
x

['James', 'David', 'Adam']