<a href="https://colab.research.google.com/github/AntonySharon/Business-analytics-with-python/blob/main/python_revision_(30_01_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x="This is \"Python\" programming"
print(x)

This is "Python" programming

In [4]:
x='He\'s a doctor'
print(x)

He's a doctor

In [5]:
x="Hello\nWorld!"
print(x)

Hello
World!

In [7]:
x="Hello\tWorld!"
print(x)

Hello	World!

In [8]:
n="\"Antony\" Sharon"

In [9]:
print(n)

"Antony" Sharon

In [10]:
x='He\'s a doctor'
print(x)

He's a doctor

In [15]:
x="Antony \nSharon"

In [16]:
print(x)

Antony
Sharon

In [28]:
x="10"
x.isalnum()

True

In [29]:
x=["John","Mary","David","Adam"]
i=int(input("Enter the index no. :"))
n=input("Enter tthe name to be inserted: ")
x.insert(i,n)
print(x)

Enter the index no. :4
Enter tthe name to be inserted: Joe
['John', 'Mary', 'David', 'Adam', 'Joe']

In [30]:
def anto():
  i=int(input("Enter the index no. :"))
  n=input("Enter tthe name to be inserted: ")
  x.insert(i,n)
  print(x)
anto()

Enter the index no. :5
Enter tthe name to be inserted: Jes
['John', 'Mary', 'David', 'Adam', 'Joe', 'Jes']

In [38]:
def calc():
  x=int(input("Enter one no.: "))
  y=int(input("Enter another no.: "))
  sum=x+y
  diff=x-y
  div=x/y
  prod=x*y
  print("Sum is :",sum)
  print("Difference is :",diff)
  print("Quotient is :",div)
  print("Product is :",prod)
calc()

Enter one no.: 10
Enter another no.: 5
Sum is : 15
Difference is : 5
Quotient is : 2.0
Product is : 50

In [40]:
def maths(x,y):
  sum=x+y
  diff=x-y
  div=x/y
  prod=x*y
  print("Sum is :",sum)
  print("Difference is :",diff)
  print("Quotient is :",div)
  print("Product is :",prod)

In [41]:
x=int(input("Enter one no.: "))
y=int(input("Enter another no.: "))
maths(x,y)

Enter one no.: 10
Enter another no.: 5
Sum is : 15
Difference is : 5
Quotient is : 2.0
Product is : 50

In [43]:
def add(x,y):
  sum=x+y
  print("Sum is :",sum)

def sub(x,y):
  diff=x-y
  print("Difference is :",diff)

def div(x,y):
  div=x/y
  print("Quotient is :",div)

def prod(x,y):
  prod=x*y
  print("Product is :",prod)

x=int(input("Enter one no.: "))
y=int(input("Enter another no.: "))
sub(x,y)
add(x,y)
prod(x,y)
div(x,y)

Enter one no.: 10
Enter another no.: 50
Difference is : -40
Sum is : 60
Product is : 500
Quotient is : 0.2